body {
    /* background-image: url("control.png"); */
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family:-apple-system, BlinkMacSystemFont, 'Open Sans', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif ;
    font-weight: bold;
    text-align: center;
    position: relative;
    height: 1vh;
    color: white;
    align-items: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: greenyellow;
    color: black;
    border: greenyellow;
}

#save-btn {
    background: none;
    border-color: white;
}

.Main {
max-width: 200px;   

    
    
}

.container {
    
    align-content: center;
    max-width: 300px;
    margin: 18% auto;
    
}


